.CodeBlock {
  background-color: #1d1f27;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin: 20px 0;
  overflow: scroll;
  border-radius: 5px;
  text-align: left;
  font-weight: 300;
}

@media only screen and (max-width: 800px) {
  .CodeBlock {
    border-radius: 2px;
    line-height: 0.8rem;
    font-size: 0.6rem;
  }
}
